%p#notice= notice

%p
  %b Username:
  = @waiter.username
%p
  %b Allowed:
  = @waiter.allowed
%p
  %b Active:
  = @waiter.active

= link_to 'Edit', [:edit, @store, @waiter]
\|
= link_to 'Back', [@store, :waiters]

