= f.label :first_name
= f.text_field :first_name
= f.label :last_name
= f.text_field :last_name
= f.label :email
= f.text_field :email
= f.label :identifier, "RUT"
= f.text_field :identifier
= f.label :bussiness_category, "Giro comercial"
= f.text_field :bussiness_category
= f.label :bussiness_name, "Nombre del negocio"
= f.text_field :bussiness_name
= f.label :phone
= f.text_field :phone
= f.label :address_line_1, "Direccion comercial"
= f.text_field :address_line_1
= f.label :address_line_3, "Ciudad"
= f.text_field :address_line_3
= f.label :address_line_2, "Comuna"
= f.text_field :address_line_2
